.container{
  width:260px;
  height:396px;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  padding:auto;
  
  border-radius:15px;
  overflow:hidden;
  background-color:white;
  transition: box-shadow 0.3s ease,transform 0.3s ease;
    &:hover{
      cursor:pointer;
      box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    }

}

.icones{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:10px;
  margin-top:5px;
  

}
.rate{
  margin-right:110px;
  margin-left:5px;
}

.heart , .carrinho {
  border:0px;
  background-color:white;
  transition:transform 2s ease;

   &:hover{
     cursor:pointer;
   }
}

.pop{
  animation: pop 1s ease;
}

@keyframes pop{
  0% {
    transform:scale(0);
  }
  100%{
    transform:scale(1);
  }
}

.imagem{
  width:162px;
  height:162px;
  overflow:hidden;
  align-self:center!important;
  padding-top:20px;
  padding-bottom:35px;
  
}

.imagem .imagemPrincipal{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:transform 0.3s ease;
}

.container:hover .imagem .imagemPrincipal{
  transform:scale(1.2);
  
}

.nome{
    
    font-size:25px;
    color:black;
    padding-left:5px;
    padding-right:5px;
}
.preco{
    font-size:20px;
    color:#96a0a4;
    text-decoration:line-through;
    padding-left:5px;
    padding-right:5px;

}
.precoComDesconto{
  font-size:25px;
  font-weight:bold;
  font-weight:700;
  padding-left:5px;
  padding-right:5px;
}
.formaDePagamento{
  font-size:20px;
  padding-left:5px;
  padding-right:5px;
}
.verdinho{
  padding-left:10px;
  color:#289d4e;
  background-color:#eefff2;
  font-size:20px;
}
.frete{
  padding-left:5px;
  font-size:20px;
  color:#088d34;
  
}
.estoque{
  display:flex;
  align-self:flex-end;
  padding-right:10px;
  padding-bottom:5px;
  color:#f13e3e;
  background-color:#fff1f1;
  font-size:20px;
}
