* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif, Arial; /* Fonte oficial da KaBuM! */
  background-color: #fafafe;
  -webkit-font-smoothing: antialiased;
}

html {
  overflow-y: scroll; /* Mantém a barra de scroll sempre visível para evitar pulos no layout */
}